{{ define "head" }}
<meta name="description" content="{{ .Params.description }}">
<link rel="stylesheet" href="{{.Site.Params.staticPath}}/css/single.css">

<!-- fontawesome -->
<script defer src="{{.Site.Params.staticPath}}/fontawesome-6/all-6.4.2.js"></script>
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section id="single">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="pr-lg-4">
          <div class="title mb-5">
            <h1 class="text-center mb-1">{{ .Title }}</h1>
            {{ with .Params.company }}
              <p class="subtitle text-center" style="font-size:1.2rem; color:#6b7280; margin:0;">
                {{ . }}
              </p>
            {{ end }}
            <div class="subtitle text-center" style="margin-top:0.25rem; font-size:1.0rem; color:#6b7280;">
              {{ if .Params.author }}
                {{ .Params.author }} &nbsp;•&nbsp;
              {{ end }}
              {{ .Date.Format (.Site.Params.datesFormat.article | default "Jan 2, 2006") }} 

              {{ if and (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}&nbsp;•&nbsp;
              <span id="readingTime">
                {{ .Site.Params.singlePages.readTime.content | default "min read" }}
              </span>
              {{ end }}
            </div>
          </div>
          {{ if .Params.image }}
          <div class="featured-image">
            <img class="img-fluid mx-auto d-block" src="{{ .Params.image }}" alt="{{ .Title }}">
          </div>
          {{ end }}
          <article class="page-content  p-2">
          {{ .Content | emojify }}
          </article>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div id="stickySideBar" class="sticky-sidebar">
          {{ if .Params.toc | default true}}
          <aside class="toc">
              <h5>
                {{ .Site.Params.terms.toc | default "Table Of Contents" }}
              </h5>
              <div class="toc-content">
                {{.TableOfContents}}
              </div>
          </aside>
          {{ end }}

          {{ if .Params.tags }}
          <aside class="tags">
            <h5>{{ .Site.Params.terms.tags | default "Tags" }}</h5>
            <ul class="tags-ul list-unstyled list-inline project-tags">
              {{ range .Params.tags }}
                <li class="list-inline-item">
                  <button type="tag-btn" class="tag-btn" data-tag="{{ . }}">{{ . }}</button>
                </li>
              {{ end }}
            </ul>
          </aside>
          {{end}}

          {{ if .Params.socialShare | default .Site.Params.singlePages.socialShare | default true }}
          <aside class="social">
            <h5>{{ .Site.Params.terms.social | default "Social" }}</h5>
            <div class="social-content">
              <ul class="list-inline">
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://www.linkedin.com/feed/?shareActive=true&text={{ .Params.description }} {{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href='https://twitter.com/share?text={{ .Title }}&url={{ .Site.Params.hostName }}{{ .Permalink | absURL }}&hashtags={{ delimit .Params.tags "," }}'>
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://api.whatsapp.com/send?text={{ .Title }}: {{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-whatsapp"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href='mailto:?subject={{ .Title }}&amp;body={{ .Site.Params.terms.emailText | default "Check out this site" }} {{ .Site.Params.hostName }}{{ .Permalink | absURL }}'>
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
              </ul>
            </div>
          </aside>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-9 p-4">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
  <button class="p-2 px-3" onclick="topFunction()" id="topScroll">
    <i class="fas fa-angle-up"></i>
  </button>
</section>

{{ if or (.Site.Params.singlePages.scrollprogress.enable | default true) (.Params.enableScrollProgress) }}
<div class="progress">
  <div id="scroll-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<Script src="{{.Site.Params.staticPath}}/js/scrollProgressBar.js"></script>
{{ end }}

<style>
/* -------------------------- */
/* Project Tags               */
/* -------------------------- */
.project-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.25rem;
}
.project-tags .tag-btn {
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  background-color: {{ .Site.Params.color.tagBackground }};
  color: {{ .Site.Params.color.tagText }};
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.project-tags .tag-btn:hover {
  background-color: {{ .Site.Params.color.tagBackgroundHover }};
}
html.dark .project-tags .tag-btn {
  background-color: {{ .Site.Params.color.darkmode.tagBackground }};
  color: {{ .Site.Params.color.darkmode.tagText }};
}
html.dark .project-tags .tag-btn:hover {
  background-color: {{ .Site.Params.color.darkmode.tagBackgroundHover }};
}

/* -------------------------- */
/* Page content headings      */
/* -------------------------- */
#single .title h1,
#single .page-content h1,
#single .page-content h2,
#single .page-content h3,
#single .page-content h4,
#single .page-content h5,
#single .page-content h6 {
  color: {{ .Site.Params.color.headingsTextColor }} !important;
}
/*
aside.toc h5,
aside.tags h5,
aside.social h5 {
  color: {{ .Site.Params.color.headingsTextColor }} !important;
}
*/
#single .subtitle { /* company + date / reading time */
  color: {{ .Site.Params.color.subtitleTextColor }} !important;
}
#single .page-content p {
  color: {{ .Site.Params.color.contentTextColor }} !important;
}
html.dark #single .title h1,
html.dark #single .page-content h1,
html.dark #single .page-content h2,
html.dark #single .page-content h3,
html.dark #single .page-content h4,
html.dark #single .page-content h5,
html.dark #single .page-content h6,
html.dark aside.toc h5,
html.dark aside.tags h5,
html.dark aside.social h5 {
  color: {{ .Site.Params.color.darkmode.headingsTextColor }} !important;
}
html.dark #single .subtitle { /* company + date / reading time */
  color: {{ .Site.Params.color.darkmode.subtitleTextColor }} !important;
}
</style>

<script>
  var topScroll = document.getElementById("topScroll");
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topScroll.style.display = "block";
    } else {
      topScroll.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

  // To set height of sticky sidebar dynamically
  let stickySideBarElem = document.getElementById("stickySideBar");
  let stickyNavBar = {{ .Site.Params.navbar.stickyNavBar.enable | default false }};
  if(stickyNavBar) {
    let headerElem = document.getElementById("profileHeader");
    let headerHeight = headerElem.offsetHeight + 15;
    stickySideBarElem.style.top = headerHeight + "px";
  } else {
    stickySideBarElem.style.top = "50px";
  }
  
  /* Tags */
  const tagButtons = document.querySelectorAll(".tag-btn");

  tagButtons.forEach(tagBtn => {
    tagBtn.addEventListener("click", (event) => {
      event.preventDefault();
      event.stopPropagation();

      const tag = tagBtn.dataset.tag;

      // Redirect to projects page with query param
      const projectsUrl = "/projects/?tag=" + encodeURIComponent(tag);
      window.location.href = projectsUrl;
    });
  });
</script>

{{ if and (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
<script src="{{.Site.Params.staticPath}}/js/readingTime.js"></script>
{{end}}

{{ end }}
