/* Animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Header animation */
@keyframes fade-up {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

header .navbar.animate {
    animation: fade-up 0.5s ease-in;
}

/* ToolTip */

.tooltip {
    line-height: 1rem;
    border-radius: .5rem !important;
}
.tooltip-inner {
    line-height: 1rem;
}
.tooltip .tooltip-arrow { 
    visibility: hidden !important;
}

/* hero */

#hero {
    min-height: 100vh;
    line-height: 2rem;
    max-width: 100%;
    background-color: var(--hero-bg-color-light, var(--background-color));
    overflow: hidden;
    position: relative;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  pointer-events: none;
  z-index: 0;

  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--background-color) 100%
  );
}
html.dark #hero {
    background-color: var(--hero-bg-color-dark, var(--background-color)) !important;
}

#hero .hero-bg {
    position: absolute;
    inset: 0;
    background-image: var(--hero-bg-image-light);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    z-index: 0;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    mask-image:
      linear-gradient(
        to left,
        rgba(0,0,0,1) 35%,
        rgba(0,0,0,0) 40%
      );

    -webkit-mask-image:
      linear-gradient(
        to left,
        rgba(0,0,0,1) 35%,
        rgba(0,0,0,0) 40%
      );

    mask-composite: intersect;
    -webkit-mask-composite: source-in;
}
html.dark #hero .hero-bg {
  background-image: var(--hero-bg-image-dark, var(--hero-bg-image-light));
}
@media (max-width: 992px) {
  #hero .hero-bg {
    display: none;
  }
  #hero {
    background-color: var(--background-color);
  }
}

#hero .container {
  position: relative;
  z-index: 1
}

#hero .content.animate {
    animation: fade-left 1s ease-out;
}

#hero .hero-bottom-svg {
    opacity: 0.5;
    position: absolute;
    bottom: -50px;
    left: -150px;
}

#hero .subtitle {
    font-size: clamp(14px,5vw,16px);
    opacity: 0.6;
}

#hero h1 {
    font-size: clamp(40px, 8vw, 80px);
    color: var(--primary-color) !important;
}

#hero h2 {
    /* font-size: clamp(40px, 8vw, 60px); Original */
    /* font-size: clamp(40px, 6vw, 48px);  Slightly smaller */
    font-size: clamp(26px, 4.5vw, 40px); /* Subtle */
    opacity: 0.5;
}

#hero p {
    margin: 20px 0px 0px;
    max-width: 640px;
    opacity: 0.8;
}

#hero .image {
    z-index: 2;
}

#hero .image img {
    box-shadow:0px 8px 56px rgba(0, 0, 0, 0.3);
    padding: 0;
    border: 3px solid var(--secondary-color);
    border-radius: 1rem;
}

html.dark #hero .image img {
    box-shadow: none !important;
    border: 3px solid var(--text-color) !important;
}

#hero .image.animate img {
    animation: fade-in 2s ease-out;
    transition: box-shadow 0.4s;
}

html.dark #hero .image.animate img {
    transition: none;
}

#hero .image.animate img:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 1);
    /* filter: contrast(1.2); */
}

#hero a.btn.social-icon {
    color: var(--primary-color) !important;
    line-height: 0%;
    border-radius: 50%;
    margin-top: 50px;
    padding: 0.7rem;
    border: 1px solid var(--primary-color);
    transition: none;
}

#hero a.btn.social-icon img {
    width: 1em;
}

#hero a.btn.social-icon:hover {
    opacity: 0.8;
}

#hero a.btn {
    margin-top: 50px;
    padding: 0.7rem 1.75rem;
    border: 1px solid var(--primary-color);
    color: var(--text-color) !important;
    border-radius: .75rem;
    transition: none;
}

#hero a.btn:focus {
    box-shadow: none;
}

#hero a.btn:hover {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
    opacity: 0.9;
}

#hero a.btn.social-icon:hover {
    background-color: var(--background-color) !important;
    opacity: 0.7;
}

#hero .hero-content > a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#hero .hero-content > a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    opacity: 0.5;
}

#hero .hero-content > a:hover::after, 
#hero .hero-content > a:focus::after, 
#hero .hero-content > a:active::after {
    width: 100%;
}



/* about me */
#about h3 {
    color: var(--text-secondary-color) !important;
}

#about .image img {
    box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
    transition: box-shadow 0.3s;
    padding: 0;
    border: 0;
}

#about .image img:hover {
    box-shadow: 0 0 11px rgb(15 80 100 / 20%);
}

#about ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

/* #about ul.two-columns,
#about ul.three-columns {
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(140px, 200px));
    }
} */

#about ul.three-columns {
    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, minmax(140px, 200px));
    }
}

#about ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}

#about ul li::before {
    content: "▹";
    color: var(--primary-color);
    position: absolute;
    left: 0px;
}

#about .content {
    font-weight: 500;
    opacity: 0.9 !important;
    line-height: 1.7rem !important;
}

#about a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#about a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    opacity: 0.5;
}

#about a:hover::after, #about a:focus::after, #about a:active::after {
    width: 100%;
}

/* experience */

#experience h3 {
    color: var(--text-secondary-color) !important;
}
/* 
#experience * {
    background-color: transparent;
} */

#experience a.company-logo-link::after,
#experience a.company-logo-link:hover::after {
    display: none !important;
}

#experience a {
    opacity: 0.9;
    display: inline-block;
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#experience a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    opacity: 0.5;
}

#experience a:hover::after, #experience a:focus::after, #experience a:active::after {
    width: 100%;
}

/* Education */

#education .container > h3 {
    color: var(--text-secondary-color) !important;
}

#education .row .index {
    opacity: 0.8;
    padding: 13px 20px;
    line-height: 0%;
    border-radius: 50%;
    max-height: 50px;
    z-index: 2;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    font-weight: bold;
}

#education .card * {
    background-color: var(--secondary-color) !important;
}

#education .card {
    border-radius: 1.5rem;
    /* box-shadow: 0px 8px 56px rgb(15 80 100 / 16%); */
    box-shadow: 0 0 36px rgba(0,0,0,0.1) !important;
    border: 2px solid transparent !important;
    transition: box-shadow .2s linear,opacity .2s linear;
    transition: transform 0.2s;
}

#education .card .card-body {
    border-radius: 1.5rem;
    padding: 2rem;
}

@media all and (max-width:768px) {
    #education .card .card-body {
        padding: 2rem 1rem;
    }
}

#education .card:hover {
    transition: 0.3s;
    border: 2px solid var(--text-color) !important;
    box-shadow: 0 14px 38px rgba(0,0,0,.12);
}

#education .card .card-body .education-content a {
    color: var(--text-link-color) !important;
    text-decoration: none;
    opacity: 0.9;
}

#education .card .card-body > a h6 {
    display: inline-block;
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#education .card .card-body > a h6::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    opacity: 0.5;
}

#education .card .card-body > a h6:hover::after, #education .card .card-body > a h6:focus::after, #education .card .card-body > a h6:active::after {
    width: 100%;
}

#education .card .card-body a.btn {
    opacity: 0.9;
    border: 1px solid var(--primary-color) !important;
    color: var(--text-color) !important;
    border-radius: .75rem;
    box-shadow: none;
    transition: none;
}

#education .card .card-body a.btn:hover {
    opacity: 0.8;
}

/* achievements */

#achievements a {
    text-decoration: none;
}

#achievements h3 {
    color: var(--text-secondary-color) !important;
}

#achievements .card {
    background-color: var(--secondary-color) !important;
    border-radius: 1rem;
    box-shadow: 0 0 36px rgba(0,0,0,0.1);
    /* transform: translate3d(0, 0, 0); */
    transition: box-shadow .2s linear,opacity .2s linear;
    border: 2px solid transparent;
}

#achievements .card h5 {
    color: var(--text-color) !important;
    opacity: 0.9;
}

#achievements .card:hover {
    border: 2px solid var(--text-color);
    transition: .3s;
    box-shadow: 0 14px 38px rgba(0,0,0,.12);
}
#achievements .card:focus {
    border: 2px solid var(--text-color);
    transition: .3s;
}

#achievements .card-text {
    background-color: var(--secondary-color) !important;
    color: var(--text-secondary-color) !important;
}

#achievements img {
    border-radius: 0.7rem;
}

/* contact */

/* Moved to separate file */


/* Top scroll */

#homePage #topScroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
}

#homePage #topScroll:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}