/* light mode */
.light > *{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.light > #footer-socialNetworks-github-svg-path{
    fill: none;
}

/* dark mode */
.dark {
    --background-color: var(--background-color-dark) !important;
    --secondary-background-color: var(--secondary-background-color-dark) !important;
    --text-color: var(--text-color-dark) !important;
    --text-secondary-color: var(--text-secondary-color-dark) !important;
    --text-link-color: var(--text-link-color-dark) !important;
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --text-headings-color: var(--text-headings-color-dark);
    --text-subtitle-color: var(--text-subtitle-color-dark);
    --text-content-color: var(--text-content-color-dark);
    /* --card-color: var(--card-color-dark); */
    --project-tag-text-color: var(--project-tag-text-color-dark);
    --project-tag-bg-color: var(--project-tag-bg-color-dark);
    --project-tag-bg-hover-color: var(--project-tag-bg-hover-color-dark);
    --project-filter-text-color: var(--project-filter-text-color-dark);
    --project-filter-bg-color: var(--project-filter-bg-color-dark);
    --project-filter-hover-color: var(--project-filter-hover-color-dark);
    --project-filter-active-color: var(--project-filter-active-color-dark);
}

.dark #footer-socialNetworks-github-svg-path{
    fill: #FFFFFF;
}

.text-secondary {
    color: var(--text-secondary-color) !important;
}

#theme-toggle:focus {
    outline: 0;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    border: none;
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}
